# ============================================================
# VIRTUAL ENVIRONMENT
# ============================================================

.venv/
venv/
env/


# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*$py.class


# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/


# ============================================================
# ENVIRONMENT VARIABLES
# ============================================================

.env
.env.*


# ============================================================
# VS CODE
# ============================================================

.vscode/


# ============================================================
# OPERATING SYSTEM FILES
# ============================================================

.DS_Store
Thumbs.db


# ============================================================
# PYTHON BUILD FILES
# ============================================================

build/
dist/
*.egg-info/


# ============================================================
# MODEL FILES
# =========================================================


# ============================================================
# TEMPORARY FILES
# ============================================================

*.tmp
*.temp


# ============================================================
# LOG FILES
# ============================================================

*.log